*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(50, 97, 200);
    height: 220px;
}
.header-top{
    display: flex;
    background-color: rgb(50, 97, 200);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: inline;
}
a{
    color: white;
    text-decoration: none;
}
.nav-header{
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
}
ul{
    color: white;
    list-style: none;
}
img{
    width: 100%;
}
.logo{
    width: 100px;
    background-color: rgb(50, 97, 200);
    text-align: left;
}
.menu{
    font-size: 10px;
    width: 300px;
    background-color: rgb(50, 97, 200);
}
.login{
    width: 50px;
    background-color: rgb(50, 97, 200);
    text-align: right;
}
button{
    margin-top: 5px;
    border-radius: 9px;
    border-style: none;
    background-color: white;
    padding: 5px 2px;
    font-size: 5px;
}
.bb{
    border-radius: 9px;
    background-color: black;
    color: white;
    font-size: 5px;
    padding: 5px 2px;   
}
input{
    background-color: white;
    border-radius: 10px;
    border-style: none;
    padding: 5px 5px;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}
.violet{
    background-image: url("img /jumbo.png");
    background-size: cover;
    background-color: violet;
    height: 170px;
    width: 450px;
    font-size: 10px;
    color: white;
}
.xv{
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.pI{
    font-size: 7px;
}
.containerflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.steptwo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: lightgrey;
}
.img{
    height: 200px;
    width: 250px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: small; 
    height: 200px;
    width: 200px;
}
.stepfour{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 530px;
}
.green{
    font-size: small;
    text-align: center;
    background-color: lightgray;
    width: 450px;
    height: 350px;
}
.ready{
    
    
    background-image: url("img /stars.svg");
    background-size: contain;
    margin-bottom: 15px;
}
.footer-flex{
    background-color: rgb(45, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:430px;
}
.final-step{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 450px;
    height: 250px;
    margin-bottom: 30px;
}
strong{
    color: rgb(50, 97, 200);
    font-size: 20px;
}
span{
    color: rgb(50, 97, 200);
    font-size: 14px;
}
.red{
    width: 150px;
    height: 300px;
    color: white;
}
.last{
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 10px;
}
.ita{
    width: 11px;
    height: 11px;
}
.icon{
    display: flex;
    justify-content: space-between;
    width: 90px;
}
.green-footer{
    font-size: small;
    padding-left: 3px;
    width: 75px;
    height: 300px;
}
.spazio{
    margin-top: 7px;
}
.line{
    margin-top: 15px;
    margin-bottom: 20px;
    height: 1px;
    background-color: rgb(50, 97, 200); 
    width: 450px;
}
.finale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 30px;
}
.Bottomf{
    background-color: rgb(50, 97, 200); 
    color: white;
    padding: 5px;
}
.mac{
    font-size: 10px;
    padding: 5px 5px;
    background-color: rgb(50, 97, 200); 
    color: white;
}
.wave-1hkxO{
    color: lightgray;
    -webkit-transform: rotate(180deg);
}
.wave-1hkxOo{
    color: lightgray;
}
.svg{
    line-height: 0%;
}